# application settings
APP_NAME=
APP_ENV=
DEBUG=
SECRET_KEY=


# database settings
DB_DIALECT=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_NAME=
DB_PORT=


# mail settings
MAIL_SUPPRESS_SEND=
MAIL_SERVER=
MAIL_PORT=
MAIL_USE_TLS=
MAIL_USE_SSL=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=


# account settings
REQUIRE_VERIFIED_EMAIL=
VERIFICATION_CODE_TTL_MINUTES=


# logging
LOG_LEVEL=
LOG_DIR=
LOG_TO_FILE=

